.main {
  display: flex;
  flex-flow: nowrap row;
  justify-content: center;

  margin: 0 auto;
}

.content {
  width: 600px;

  text-align: left;

  margin: 0;
  margin-top: 16px;

  background-color: white;
}
